<!DOCTYPE html>
<html>
    <head>
    <style>
            {
                box-sizing:border-box;
            }
        body {
            background-image: url("pink.jpeg");
            background-size: 120%;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        h1 {
            text-align: center;
            background-color: #cc7c99;
            border: 2px dotted blue;
            padding: 10px 15px;
            width: 250px;
            margin-bottom: 20px;
            font-family: Garamond;
        }
        
        p {
            text-align: justify;
            background-color: hsl(333, 65%, 83%);
            padding: 20px;
            border: 3px black;
            border-style: solid double dotted dashed ;
            width: 500px;
            font-style: italic;
        }
        
        span {
            font-weight: bold;
            font-style: italic;
            color: rgb(150, 50, 70);
            margin: 2px 5px;
        }

        h1 , p{
            margin-left:auto;
            margin-right:auto;
        }
    </style>
    </head>
</html>